<h1>Hola, Mundo!</h1>
<p>Bienvenido a este ejercicio de consultas. Esta aplicaci&oacute;n est&aacute; desarrollada con:</p>

<p><a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.1">ASP.NET Core</a> y <a href="https://code.visualstudio.com/docs/languages/csharp">C#</a> para el lado del servidor, usando la arquitectura de <a href="https://github.com/ardalis/CleanArchitecture">CleanArchitecture</a> con los siguientes componentes:</p>

<ul>
	<li>Core: contiene la l&oacute;gica del servicio y la definici&oacute;n de la base de datos.</li>
	<li>Infrastructure: Contiene la configuraci&oacute;n necesaria para el acceso a datos, incluyendo las referencias para que la aplicaci&oacute;n funcione con <a href="https://www.nuget.org/stats/packages/EntityFramework.SqlServer?groupby=Version">MSSqlServer </a>y <a href="https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/">MySql </a>con <a href="https://docs.microsoft.com/en-us/ef/core/">Entity Framework</a>.</li>
	<li>AngularWeb: Contiene la l&oacute;gica de la presentaci&oacute;n de la aplicaci&oacute;n, utiliza WebApi para prestar servicios al cliente.&nbsp;</li>
</ul>

<p><a href="https://angular.io/">Angular </a>y <a href="https://www.typescriptlang.org/">TypeScript </a>en el lado de cliente.</p>

<p><a href="https://materializecss.com/">Materialize CSS</a> y el tema <a href="https://github.com/rahmato/free-materialize-material-design-admin-template">Free Material Design Admin Template</a></p>

<p>&nbsp;</p>

<p>Para usar el sistema elige la opci&oacute;n <a href="/comercial-performance">Comercial Performance</a> y juega con los filtros para obtener la data.</p>
