
<!-- START LEFT SIDEBAR NAV-->
<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li class="no-padding">
      <ul class="collapsible" data-collapsible="accordion">
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }' class="bold">
          <a [routerLink]='["/"]' (click)='collapse()' class="waves-effect waves-cyan">
            <i class="material-icons">pie_chart_outlined</i>
            <span class="nav-text">Home</span>
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]' class="bold">
          <a [routerLink]='["/comercial-performance"]' (click)='collapse()' class="waves-effect waves-cyan">
            <i class="material-icons">pie_chart_outlined</i>
            <span class="nav-text">Performance Comercial</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only">
    <i class="material-icons">menu</i>
  </a>
</aside>
<!-- END LEFT SIDEBAR NAV-->
